[submodule "third_party/fabric-gateway-cpp"]
	path = third_party/fabric-gateway-cpp
	url = https://github.com/sergiorandria/fabric-gateway-cpp.git
[submodule "third_party/vhsm-secure-crypto"]
	path = third_party/vhsm-secure-crypto
	url = https://github.com/sergiorandria/vhsm-secure-crypto.git
	branch = main
