# Template de secrets — copier en .env et renseigner les valeurs.
# .env est gitignored ; ce fichier .env.example est committé.

ORDERER_DB_USER=CHANGE_ME
ORDERER_DB_PASS=CHANGE_ME
ORDERER_LDAP_ADMIN_PASS=CHANGE_ME
ORG1_DB_USER=CHANGE_ME
ORG1_DB_PASS=CHANGE_ME
ORG1_LDAP_ADMIN_PASS=CHANGE_ME
CA_ADMIN_PASS=CHANGE_ME
